@{
    ViewData["Title"] = "MainBank";
    int count = 0;
}

@model MainBankInfoModel
<text>Main bank balance: @Model.Balance</text>

<div class="scroll">
    <table class="table table-striped">
        <thead>
            <tr class="static-special">
                <th class="th-static" scope="col">#</th>
                <th class="th-static" scope="col">Username</th>
                <th class="th-static" scope="col">Money</th>
                <th class="th-static" scope="col">Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var report in Model.Reports)
            {
                count++;
                <tr>
                    <th scope="row">@count</th>
                    <td>@report.Username</td>
                    <td>@report.Value</td>
                    <td>@report.DateTime</td>

                </tr>
            }
        </tbody>
    </table>
</div>
<br/>