@{
    ViewData["Title"] = "EditProcedure";
}
@model ShowProcedureModel

<table class="table">
    <thead>
        <tr>
            <th scope="col">Current Name</th>
            <th scope="col">Current Description</th>
            <th scope="col">Current Price</th>
            <th scope="col">IsActive</th>
        </tr>
    </thead>
    <tbody>
        <tr class="table-active">
            <td>@Model.Name</td>
            <td>
                <textarea rows="5" cols="120" readonly>@Model.Description</textarea>
            </td>
            <td>@Model.Price</td>
            <td>@Model.IsActive</td>
        </tr>

    </tbody>
</table>

<form class="form-inline" asp-area="Admin" asp-controller="Procedure" asp-action="EditProcedure" method="post">

    <p class="text-primary">New Name:</p>
    <input asp-for=@Model.Name class="form-control" value=@Model.Name>
    <span asp-validation-for=@Model.Name class="text-danger"></span>
    <br />

    <p class="text-primary">New Description:</p>
    <textarea asp-for=@Model.Description rows="5" cols="120">@Model.Description</textarea>
    <span asp-validation-for=@Model.Description class="text-danger"></span>
    <br />

    <p class="text-primary">New Price:</p>
    <input asp-for=@Model.Price class="form-control" type="number" value=@Model.Price>
    <span asp-validation-for=@Model.Price class= "text-danger"></span>
    <br />

    <div class="col-lg-6 col-md-6 col-12">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <p class="text-primary">Status Options:</p>
                <select class="form-control select2bs4" name="IsActive" id="IsActive" style="width: 100%">
                    <option value="@Model.IsActive">Current Status</option>
                    <option value="true">Activate</option>
                    <option value="false">Deactivate</option>
                </select>
            </div>
        </div>
    </div>

    <input name="Id" class="form-control" type="hidden" value=@Model.Id>
    <br />
    <button class="btn btn-danger" type="submit">Save changes</button>

    <a href="/Procedure/Procedures" class="btn btn-primary" role="button">Back</a>

</form>



