@{
    ViewData["Title"] = "WorkWithClient";
}
@model WorkModel
 <form asp-controller="Client" asp-action="Client" method="get">
                  <input type="hidden" name="clientId" value="@Model.Id" />
                  <button class="button-return" type="submit">Return</button>
                </form>
<table class="table">
    <thead>
        <tr>
            <th scope="col">FirstName</th>
            <th scope="col">LastName</th>
            <th scope="col">BirthDay</th>
            <th scope="col">Email</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
            <tr>
                <td>@Model.FirstName</td>
                <td>@Model.LastName</td>
                <td>@Model.BirthDay</td>
                <td>@Model.Email</td>
                <td>
                    <a href="/Income/ShowClientVisitBag?clientId=@Model.Id" class="btn btn-primary" role="button">VisitBag</a>
                   
                </td>
            </tr>
    </tbody>
</table>
<partial name="_ProceduresPartial" />

