@model ListFromProcedures
 <form asp-controller="Client" asp-action="Client" method="get">
                  <input type="hidden" name="clientId" value="@TempData["clientId"]" />
                  <button class="button-return" type="submit">Return</button>
                </form>
                <br /><br />
<div class="scroll-all">
    <table class="table table-striped">
        <thead>
            <tr class="static-special">
                <th class="th-static" scope="col">#</th>
                <th class="th-static" scope="col">Name</th>
                <th class="th-static" scope="col">Description</th>
                <th class="th-static" scope="col">Date</th>
                <th class="th-static" scope="col">Info</th>
            </tr>
        </thead>
        <tbody>
                @{
                    int count = 0;
                }
                @foreach (var procedure in Model.Procedures)
                {
                    count++;
                <tr>
                    <th scope="row">@count</th>
                    <td>@procedure.Name</td>
                    <td>
                        <span class="d-inline-block text-truncate" style="max-width: 150px;">
                                @procedure.Description
                        </span>
                    </td>
                    <td>@procedure.DateForHistory</td>
                    <td><a href="/Procedure/Procedure?procedureId=@procedure.Id" class="btn btn-primary" role="button">Info</a></td>
                </tr>
                }
               
        </tbody>
    </table>
</div>
