@model ListFromProcedures
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Date</th>
            <th scope="col">Price</th>
            <th scope="col">Edit</th>
        </tr>
    </thead>
    <tbody>
        @{
            int count = 0;
            decimal totalPrice = 0;
        }
        @foreach (var procedure in Model.Procedures)
        {
            count++;
            totalPrice += @procedure.Price;
            <tr>
                <th scope="row">@count</th>
                <td>@procedure.Name</td>
                <td>
                    <span class="d-inline-block text-truncate" style="max-width: 300px;">
                        @procedure.Description
                    </span>
                </td>
                <td>@procedure.DateForHistory</td>
                <td>@procedure.Price</td>
                <td><a href="/Income/RemoveProcedure?clientId=@TempData["clientId"]&procedureId=@procedure.Id" class="btn btn-danger">Remove</a></td>
            </tr>

        }
        <p>Total price: @totalPrice</p>
        <a href="/@TempData["Controller"]/@TempData["Action"]@TempData["neededId"]" class="btn btn-primary" role="button">Back</a>
        <a href="/Income/Pay?clientId=@TempData["clientId"]" class="btn btn-danger">Pay</a>

    </tbody>
</table>