@model ListFromProcedures
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Date</th>
            <th scope="col">Price</th>
            <th scope="col">Edit</th>
        </tr>
    </thead>
    <tbody>
        @{
            int count = 0;
            decimal totalPrice = 0;
        }
        @foreach (var procedure in Model.Procedures)
        {
            count++;
            totalPrice += @procedure.Price;
            <tr>
                <th scope="row">@count</th>
                <td>@procedure.Name</td>
                <td>
                    <span class="d-inline-block text-truncate" style="max-width: 300px;">
                        @procedure.Description
                    </span>
                </td>
                <td>@procedure.DateForHistory</td>
                <td>@procedure.Price</td>
                <td><a href="/Income/RemoveProcedure?clientId=@TempData["clientId"]&procedureId=@procedure.Id" class="btn btn-danger">Remove</a></td>
            </tr>

        }
        <h5>Total price: @totalPrice</h5>

         <form asp-controller="Income" asp-action="CreateIncome" method="get">
            <input type="hidden" name="clientId" value=@TempData["clientId"] />
            <button class="button-return" type="submit">Return</button>
        </form>

        <form asp-controller="Income" asp-action="Pay" method="post">
            <input type="hidden" name="clientId" value=@TempData["clientId"] />
            <input type="hidden" name="totalPrice" value=@totalPrice />
            <button class="button-pay" type="submit" style="margin-left:15px">Payment</button>
        </form>
      <br />
      <br />
        

    </tbody>
</table>