@model ShowProcedureModel

<table class="table">
    <thead>
        <tr>
            <th scope="col">Current Name</th>
            <th scope="col">Current Description</th>
            <th scope="col">Current Price</th>
            <th scope="col">IsActive</th>
        </tr>
    </thead>
    <tbody>
        <tr class="table-active">
            <td>@Model.Name</td>
            <td>
                <textarea rows="5" cols="120" readonly>@Model.Description</textarea>
            </td>
            <td>@Model.Price</td>
            <td>@Model.IsActive</td>
        </tr>

    </tbody>
</table>

<form asp-controller="Procedure" asp-action="EditProcedure" method="post">
    <p class="text-primary">New Name:</p>
    <input name="Name" class="form-control" type="text" value=@Model.Name>
    <br />
    <p class="text-primary">New Description:</p>
    <textarea name="Description" rows="5" cols="120">@Model.Description</textarea>
    <br />
    <p class="text-primary">New Price:</p>
    <input name="Price" class="form-control" type="number" value=@Model.Price>
    <br />

    <label>IsActive</label>
    <div class="form-switch" data-on-label="YES" data-off-label="NO">
        <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked="@Model.IsActive">
    </div>

    <input name="Id" class="form-control" type="hidden" value=@Model.Id>
    <button class="btn btn-danger" type="submit">Save changes</button>
    <a href="/Procedure/Procedures" class="btn btn-primary" role="button">Back</a>


</form>



